//  $pozadina1: #1fae66;  zelena boja
$pozadina1: #01A9DB; // plava boja

$pozadina2: #A9D0F5;
$pozadina3: #f0f0f0;
$pozadina4: #eaeaea;

//$dugmici: #01A9DB;      plava boja
//$dugmici-hover: #1fae66; 	zelena boja

$dugmici: #f88300;
$dugmici-hover: #01A9DB;



body {
	margin-top: 50px;
	background-color: $pozadina3;
	//background: url('../img/restaurant.png');
}

#naslovna {
	background-color: white;
	color: black;
	padding: 10px;
	border-top-style: solid;
	border-top-color: $pozadina1;
    border-width: 5px;
    border-radius: 3px;
    margin-bottom: 10px;
}

#postovi {
	background-color: white;
	color: black;
	padding: 10px;
	border-top-style: solid;
	border-top-color: $pozadina1;
    border-width: 5px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.friends-post {
	margin: 20px 0;
	padding: 10px;
	border-style: solid;
	border-color: $pozadina1;
	border-width: 2px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.profile-pic {
	display: block;
	margin: auto auto;	
}

#profile-name {
	margin-top: 10px;
	background-color: white;
	font-size: 18px;
	font-weight: bold;
	padding: 10px;
	border-top-style: solid;
	border-top-color: $pozadina1;
    border-width: 5px;
	border-radius: 3px;
	margin-bottom: 10px;
}

.ostale-info {
	font-size: 14px;
}

#following-friends {
	background-color: white;
	color: black;
	padding: 10px;
	border-top-style: solid;
	border-top-color: $pozadina1;
    border-width: 5px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.buttons  {
  background: $dugmici;
  color: white;
  border-style: none;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 5px;
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;

  &:hover {
  	background: $dugmici-hover;
  }
}

textarea {
	border-radius: 3px;
	outline-style: none;
	padding: 10px;
}